
img {
    width:100%;
}

body {
    padding: 0 25% 0 25%;
}

header {
    text-align: center;
}

#run-container, #level-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5% 0 2.5% 0;
}

#clock {
    width: 75px;
    text-align: center;
}
.run, .difficulty{
    width: 75px;
    text-align: center;
}

.equation {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
    font-size: 200%;
}

.equation-pieces {
    padding: 1px;
}